.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 1em 1em 0;
  border-bottom: 1px solid #eee;
  background-color: rgb(235, 231, 231);
}
.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
}
.header h2 {
  font-weight: 300;
  color: #ccc;
  padding: 0;
  margin-top: 0;
}
.header h3 {
  font-weight: 300;
  padding: 0;
  margin-top: 0;
}

.content-subheader {
  margin: 50px 0 20px 0;
  font-size: 1.4em;
  color: #888;
}
.content-subcontent {

}
.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 800px;
  margin-bottom: 50px;
  line-height: 1.6em;
}
