.table-wrap {
  max-width: 980px;
  margin: 0 auto;
  margin-bottom: 3.125em;
  text-align: center;
}

.reactable-page-button {
  padding: 1px;
}

.reactable-current-page {

}

.reactable-next-page {

}

.reactable-previous-page {

}

.reactable-header-sortable {
  text-align: center;
  cursor: pointer;
}
