.flex-form-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.flex-form-item {
  margin: 5px;
}

.auth-message-success {
  color: green;
}

.auth-message-error {
  color: red;
}
