.content {
  margin: 0 auto;
  padding: 0 2em;
  max-width: 980px;
  margin-bottom: 50px;
  line-height: 1.6em;
  text-align: center;
}

.content-subheader {
  margin: 20px 0 20px 0;
  font-size: 1.4em;
  color: #888;
}
