.create-pet-input-wrap {
  margin: 0 auto;
  max-width: 300px;
  background-color: rgb(223, 221, 220);
}


.selectbox-aligned {
  width: 100%;
}

.coordinate-input {
  width: 50%;
}

.button-secondary {
  background-color: rgb(66, 184, 221) !important;
}
