.header {
  background: transparent url('space.jpg') 0 0 no-repeat fixed;
  text-align: center;
  background-size: cover;
  margin: 0;
  color: white;

  padding: 1em 1em 0;
  border-bottom: 1px solid #eee;
  background-color: rgb(199, 198, 198);
}
.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
}
.header h2 {
  font-weight: 300;
  color: rgb(186, 178, 178);
  padding: 0;
  margin-top: 0;
}
.header h3 {
  font-weight: 300;
  padding: 0;
  margin-top: 0;
}
