.header {
  margin: 0;
  color: #333;
  text-align: center;
  padding: 1em 1em 0;
  border-bottom: 1px solid #eee;
  background-color: rgb(199, 198, 198);
}
.header h1 {
  margin: 0.2em 0;
  font-size: 3em;
  font-weight: 300;
}
.header h2 {
  font-weight: 300;
  color: rgb(80, 80, 80);
  padding: 0;
  margin-top: 0;
}
.header h3 {
  font-weight: 300;
  padding: 0;
  margin-top: 0;
}
