.table-wrap {
  margin: 0 auto;
  margin-bottom: 3.125em;
  text-align: center;
}

.reactable-header-sortable {
  text-align: center;
  cursor: pointer;
}

.reactable-pagination > tr > td > a {
  text-decoration: none;
  color: black;
  padding: 3px;
}

.reactable-current-page {
  background-color: rgb(203, 211, 217);
}

.reactable-page-button {

}

.reactable-current-page {

}

.reactable-next-page {

}

.reactable-previous-page {

}

.reactable-filterer {

}

.reactable-filter-input {
  width: 100%;
}

table > tbody > tr:hover {
  background-color: rgb(215, 215, 215);
}

.create-button {
  background-color: rgb(85, 122, 215) !important;
  left: 0;
  top: 0;
}
